{% extends 'app/admin/base.html' %}
{% load static %}

{% block content %}



<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">User List</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">User list</li>
            </ol>
            <div class="card mb-4">
               
            </div>
            <div class="card mb-4">
               
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Role </th>
                                <th>Created_at</th>
                                <th>Updated_at</th>
                                <th>Cards</th>
                                <th>Delete</th>
                                
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Email</th>
                                <th>Name </th>
                                <th>Created_at</th>
                                <th>Updated_at</th>
                                <th>Cards</th>
                                <th>Delete</th>
                            </tr>
                        </tfoot>
                        {% if all_user %}
                        
                        <tbody>
                            {% for i in all_user %}
                            <tr>
                                
                                <td>{{i.email}}</td>
                                <td>
                                    {% if all_can %}
                                    {% for i in all_can %}
                                    {{i.firstname}}{{i.lastname}}
                                    {% endfor %}
                                    {% endif %}
                                <td>{{i.is_created}}</td>
                                <td>{{i.is_updated}}</td>
                                <td>
                                    <form action="{% url 'productcard' %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="Product Cards"  name="" id="">
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'delete' pk=i.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="Delete"  name="" id="">
                                    </form>
                                </td>
                               
                                
                            </tr>
                            {% endfor %}
                           
                        </tbody>
                        
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </main>
    
</div>
</div>

</body>
</html>
{% endblock  %}